@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* =============== base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  color: #213555; /* Dark blue color */
  margin-bottom: 20px; /* Space below the heading */
  text-align: left; /* Align the headings to the left */
  margin-left: 0; /* Remove any potential left margin */
}

/* Main layout with flexbox */
.main-layout {
  width: 100%;
  background-color: "red";
}

/* Content section */
.content {
  width: 100%;
  margin-left: 0; /* Ensure the content starts from the left */
}

body {
  background-color: #e0e0e0;
}

.App {
  width: 100%; /* Ensure the App container takes up full width */
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
  display: flex;
  flex: 1;
}
